<p id="notice"><%= notice %></p>

<h1>Detalle Aulas</h1>

<table>
  <thead>
    <tr>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_aulas.each do |detalle_aula| %>
      <tr>
        <td><%= detalle_aula.observacion %></td>
        <td><%= link_to 'Show', detalle_aula %></td>
        <td><%= link_to 'Edit', edit_detalle_aula_path(detalle_aula) %></td>
        <td><%= link_to 'Destroy', detalle_aula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Aula', new_detalle_aula_path %>
