<p id="notice"><%= notice %></p>

<h1>Anho Carreras</h1>

<table>
  <thead>
    <tr>
      <th>Anho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anho_carreras.each do |anho_carrera| %>
      <tr>
        <td><%= anho_carrera.anho %></td>
        <td><%= link_to 'Show', anho_carrera %></td>
        <td><%= link_to 'Edit', edit_anho_carrera_path(anho_carrera) %></td>
        <td><%= link_to 'Destroy', anho_carrera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anho Carrera', new_anho_carrera_path %>
