<p id="notice"><%= notice %></p>
<div class="container">
  <h2 class="text-center text-muted">Asignacion Aulas</h2>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Facultad</th>
      <th>Carrera</th>
      <th>Año</th>
      <th>Semestre</th>
      <th>Aula</th>
      <th>Dias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @asignacion_aulas.each do |a| %>
      <tr>
        <td><%= a.facultad.nombre %></td>
        <td><%= a.registro_carrera.nombreCarrera %></td>
        <td><%= a.anho_carrera.anho %></td>
        <td><%= a.semestre.nombreSemestre %></td>
        <td><%= a.aula.nombre %></td>
        <td><%= a.observacion.nombreDia %></td>
        <td><%= link_to a,class:"btn btn-success"  do %>
            <i class="glyphicon glyphicon-eye-open"></i>
           <% end %> </td>

        <td><%= link_to edit_asignacion_aula_path(a), class:" btn btn-info" do  %> 
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %></td>


        <td><%= link_to a, method: :delete, data: { confirm: 'Estas Seguro?' }, class:'btn btn-danger' do %> 
             <i class="glyphicon glyphicon-trash"></i>
          <% end %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-info"><%= link_to 'Nueva Asignacion Aula', new_asignacion_aula_path %></button>