<p id="notice"><%= notice %></p>

<p>
  <strong>Observacion:</strong>
  <%= @asignacion_aula.observacion %>
</p>
<p>
  <strong>Año:</strong>
  <%= @asignacion_aula.anho_carrera_id %>
</p>
<p>
  <strong>Facultad:</strong>
  <%= @asignacion_aula.facultads_id %>
</p>
<p>
  <strong>Carrera:</strong>
  <%= @asignacion_aula.registro_carreras_id %>
</p>

<%= link_to 'Edit', edit_asignacion_aula_path(@asignacion_aula) %> |
<%= link_to 'Back', asignacion_aulas_path %>
