<p id="notice"><%= notice %></p>

<div class="container">
<h2 class="text-center text-muted">Aulas</h2>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Bloque</th>
      <th>Capacidad</th>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aulas.each do |aula| %>
      <tr>
        <td><%= aula.nombre %></td>
        <td><%= aula.bloque %></td>
        <td><%= aula.capacidad %></td>
        <td><%= aula.observacion %></td>
        <td><%= link_to 'Ver', aula %></td>
        <td><%= link_to 'Editar', edit_aula_path(aula) %></td>
        <td><%= link_to 'Eliminar', aula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_aula_path %>
