<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aula.nombre %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @aula.bloque %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @aula.capacidad %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @aula.observacion %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
