<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aula.nombre %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @aula.bloque %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @aula.capacidad %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @aula.observacion %>
</p>

<button type="button" class="btn btn-danger"><%= link_to 'Edit', edit_aula_path(@aula) %></button> | <button type="button" class="btn btn-default"><%= link_to 'Back', aulas_path %></button>
