<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aula.nombre %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @aula.bloque %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @aula.capacidad %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @aula.observacion %>
</p>

<%= link_to edit_aula_path(@aula), class:" btn btn-info" do  %> 
    <i class="glyphicon glyphicon-pencil"></i>
    <% end %> </button> | 
<button type="button" class="btn btn-default"><%= link_to 'Atras', aulas_path %></button>
