<%= form_with(model: registro_carrera, local: true) do |form| %>
  <% if registro_carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro_carrera.errors.count, "error") %> prohibited this registro_carrera from being saved:</h2>

      <ul>
      <% registro_carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Carrera</th>
      <th>Año</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>

      <td>  <div class="field">
          <%= form.label :nombreCarrera %>
          <%= form.text_field :nombreCarrera, id: :registro_carrera_nombreCarrera %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= form.label :anho %>
          <%= form.text_field :anho, id: :registro_carrera_anho %>
        </div>
        </td>

        <td>
        <div class="field">
          <%= form.label :semestre %>
          <%= form.text_field :semestre, id: :registro_carrera_semestre %>
        </div>
      </td>

      <td>
        <div class="actions">
          <%= form.submit %>
        </div>
      </td>  
      <% end %>
  <tr>
  </tbody>
</table>  