<p id="notice"><%= notice %></p>

<p>
  <strong>Nombrecarrera:</strong>
  <%= @registro_carrera.nombreCarrera %>
</p>

<p>
  <strong>Anho:</strong>
  <%= @registro_carrera.anho %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @registro_carrera.semestre %>
</p>

<%= link_to  edit_registro_carrera_path(@registro_carrera), class: "btn btn-success" do %> <i class="glyphicon glyphicon-pencil"></i><% end %> |
<button type="button" class="btn btn-defauld"> <%= link_to 'Atras', registro_carreras_path %> </button>
