<%= form_with(model: observacion, local: true) do |form| %>
  <% if observacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observacion.errors.count, "error") %> prohibited this observacion from being saved:</h2>

      <ul>
      <% observacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreDia %>
    <%= form.text_field :nombreDia, id: :observacion_nombreDia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
