<nav class="navbar  navbar-inverse" role="navigation">
    <div class="container">
 





       
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Asignacion de Aula", 'http://localhost:3000/asignacion_aulas' %></li>
                <li><%= link_to "Aulas", 'http://localhost:3000/aulas' %></li>
                <li><%= link_to "Registro de Carreras", 'http://localhost:3000/registro_carreras' %></li>
                <li><%= link_to "Registro de Facultad", 'http://localhost:3000/facultads' %></li>
                <li><%= link_to "Registro de Año", 'http://localhost:3000/anho_carreras' %></li>
                <li><%= link_to "Dias", 'http://localhost:3000/observacions' %></li>
                <li><%= link_to "Semestres", 'http://localhost:3000/semestres' %></li>
                
                <% if current_user %>
                     <li><%= current_user.email %></li>.
                    <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
                    <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Entrar', new_user_session_path %></li>
                <% end %>
                

            </ul>
        


            
        
    </div>
</nav>

