<nav class="navbar  navbar-inverse" role="navigation">
    <div class="container">


       
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Ve Aulas", 'http://localhost:3000/aulas' %></li>
                <li><%= link_to "Registro de Carreras", 'http://localhost:3000/registro_carreras' %></li>
                <li><%= link_to "Registro de Facultad", 'http://localhost:3000/facultads' %></li>
                <li><%= link_to "Registro de Aula", 'http://localhost:3000/asignacion_aulas' %></li>

                

            </ul>
        



            <ul class="nav navbar-nav navbar-right">
                
                <% if current_user %>
                    <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'Login', new_user_session_path %></li>
                <% end %>
            </ul>
        
    </div>
</nav>